.advantages {
    min-height: 470px;
    padding: 70px 0px 81px 0px;
    background-color: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 65px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__subtitle {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__descr {
        margin-top: 26px;
        font-size: 14px;
        font-weight: 400;
        color: #0d0d0d;
        text-align: center;
        a {
            text-decoration: underline;
            color: $main-color;
        }
    }
}